{% extends 'Frontbase.html.twig' %}

{% block title %}Recrutement index{% endblock %}

{% block body %}
    <h1>Recrutement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recrutement in recrutements %}
            <tr>
                <td>{{ recrutement.id }}</td>
                <td>{{ recrutement.titre }}</td>
                <td>{{ recrutement.description }}</td>
                <td>{{ recrutement.date ? recrutement.date|date('Y-m-d') : '' }}</td>
                <td>{{ recrutement.statut }}</td>
                <td>
                    <a href="{{ path('app_recrutementf_show', {'id': recrutement.id}) }}">show</a>
                    <a href="{{ path('app_recrutementf_edit', {'id': recrutement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recrutementf_new') }}">Create new</a>
{% endblock %}
